.crypto-details {
  @include flex(flex, row, nowrap, flex-start, baseline);
  margin: $margin 0;

   @include breakpoint(md) {
     @include flex(flex, column, nowrap, center, center);
   }

  &-logo {
    height: auto;
    width: 50px;
  }

  &-title {
    color: $color-text;
    font-weight: $font-weight-normal;
    padding-left: 10px;
    margin: 0;

    @include breakpoint(md) {
      margin: $margin 0;
    }
  }

  &-list {

    span {
      color: $color-gray;
    }
  }
}