// Font
$font-family: 'Roboto', sans-serif;
$font-size: 16px;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$line-height: 1.4;

// Colors
$color-background: #fff;
$color-primary: #007bff;
$color-text: #343a40;
$color-gray: #6c757d;
$color-link-default: #fff;
$color-link-hover: #6c757d;
$color-hr: #ccc;
$color-heading: #343a40;
$color-line: #fff;

// Margins
$margin: 20px;
$padding: 10px;

// Retina image suffix
$image-suffix: '-2x';

// break points
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;